body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(45deg, #1BCEF6, #34EB6E);
    height: 100vh;
    width: auto;
}

/* Calculator section */

#calculator{
    height: 450px;
    width: 300px;
    position: relative;
    top: 20%;
    left: 15%;
    background-color: #000000;
    padding: 25px 50px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px #000000;
}

#title{
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 25px;
    font-weight: 700;   
    background-color: rgb(67, 67, 67);
    color: rgb(255, 255, 255);
    border-radius: 20px;
}
#title:hover{
    transform: scale(1.025);
    transition: 0.5s;
    text-shadow: 0.5px 0.5px 5px #34EB6E;
    color: #000000;
    background-image: linear-gradient(45deg, #34EB6E, #1BCEF6);
}

.text{
    text-align: left;
    margin-left: 50px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.text:hover{
    transition: 0.1s;
    text-shadow: 0.25px 0.25px 5px #acabab;
}

#w, #h{
    color: #1BCEF6;
    text-align: left;
    font-size: 15px;
    outline: none ;
    border: none;
    background: none;
    border-bottom: 1px solid #4e4e4e;
    width: 150px;
}
#w:focus, #h:focus{
    border-bottom: 1.5px solid #34EB6E;
    width: 170px;
    transition: 0.5s;
    
}
#w:hover, #h:hover{
    border-bottom: 1.5px solid #34EB6E;
    width: 170px;
    transition: 0.5s;
    font-size: 16px;
}

.unit{
    margin: 5px;
    margin-left: 15px;
    padding: 3px;
    min-width: 60px;
    outline: none ;
    border: none;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
}
.unit:hover{
    font-size: 13.5px;
    width: 70px;
    transition: 0.5s;
    background-image: linear-gradient(45deg, #1BCEF6, #34EB6E);
}

#res{
    width: 115px;
    margin: 10px 15px 0px 10px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    outline:none;
    text-align: center;
    color: #000000;
    background-color: rgb(255, 255, 255);
    font-weight:bold;
    font-size: 14px;
}
#res:hover{
    transition: 0.3s;
    transform: scale(1.2px);
    background-color: #1BCEF6;
    color: #000000;
}

#btn{
    padding:15px;
    margin: 10px 10px 0px 15px;
    border-radius: 20px;
    width: 100px;
    border: none;
    outline: none;
    font-weight: bold;
    background-image: linear-gradient(45deg, #34EB6E, #1BCEF6);
    cursor: pointer;
}
#btn:hover{
    transition: 0.3s;
    transform: scale(1.075);
    box-shadow: 1px 1px 10px #1BCEF6;
}



/* ResultBox Section */

#resDiv{
    height: 450px;
    width: 300px;
    position: absolute;
    top: 21.5%;
    left: 60%;
    background-color: white;
    padding: 25px 50px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px #000000;   

    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#boxHead{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 12px;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    text-shadow: 0.5px 0.5px 2px #000000;
    background-image: linear-gradient(135deg, #1BCEF6, #0adf4d);
    border-radius: 20px;
}
#imgg{
    margin-top: 30px;
    height: 225px;
    width: auto;
}
#resValue{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 10px white;
}
#category{
    text-align: center;
    font-family: cursive;
    margin-top: 15px;
    padding: 10px;
    font-size: 22px;
    font-weight: bolder;
    background-color: black;
    border-radius: 15px;
    color: white;
}